{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>

</div> 
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Ver Todo</a>
	<h4 class="section-title">Productos populares</h4>
</header><!-- sect-heading -->

	
<div class="row">
	
	{% for product in products %}
	<!-- <div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img class="w-100" src="{{ product.images.url}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url}}" class="title">{{product.product_name}}</a>
				<span class="badge {{product.col}}">{{product.tagone}}</span>
				<div class="price mt-1">$ {{product.tagone}}</div> 
			</figcaption>
			<span class="badge {{product.col}}">{{product.tagone}}</span>
		</div>
	</div> -->
	<div class="col-sm-12 col-md-4 mb-4 ">
		<div class="card shadow mb-2 bg-white rounded" >
			<!-- <div class="float-right">
				<span class="badge {{product.col}}">{{product.tagone}}</span>
			</div> -->
			<a href="{{product.get_url}}">
			<img src="{{ product.images.url}}" class="card-img-top" alt="{{product.product_name}}">
			</a>
			<div class="card-body">
			  <h5 class="card-title">{{product.product_name}}</h5>
			  <div class="border-top my-2"></div>
			  <p class="card-text">{{product.description | truncatechars:120 }}</p>
			  <h5>Principales usos</h5>
			  <div class="border-top my-2"></div>
			  
			  {% if product.is_oil %}
				<button type="button" class="btn btn-secondary  bg-light  p-1  border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Mineria">
					<img class=" p-1" src="{% static 'images/icons/aceite.svg' %}" alt="Mineria" width="35" height="35">
				</button> 
				{% endif %}
				{% if product.is_min %}
				<button type="button" class="btn btn-secondary  bg-light  p-1  border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Industrial">
					<img class=" p-1" src="{% static 'images/icons/industria.svg' %}" alt="Oil y gas" width="35" height="35">
				</button>
				{% endif %}
				{% if product.is_indu %}
				<button type="button" class="btn btn-secondary  bg-light  p-1 border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Oil y gas">
					<img class=" p-1" src="{% static 'images/icons/oil.svg' %}" alt="Oil y gas" width="35" height="35">
				</button>
				{% endif %} 
				{% if product.is_ener %}
				<button type="button" class="btn btn-secondary  bg-light  p-1  border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Energia">
					<img class=" p-1" src="{% static 'images/icons/power.svg' %}" alt="Energia" width="35" height="35">
				</button> 
				{% endif %}
				{% if product.is_ares %}
				<button type="button" class="btn btn-secondary  bg-light  p-1  border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Agua potable">
					<img class=" p-1" src="{% static 'images/icons/agua.svg' %}" alt="Agua potable" width="35" height="35">
				</button> 
				{% endif %}
				{% if product.is_apot %}
				<button type="button" class="btn btn-secondary  bg-light  p-1  border border-secondary rounded-circle" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Agua residual">
					<img class=" p-1" src="{% static 'images/icons/agres.svg' %}" alt="Agua Residual" width="35" height="35">
				</button> 
				{% endif %}

			  <!-- <div class="rating-star">
				<span>
					<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.average_review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.average_review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.average_review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.average_review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.average_review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>

				</span>
			</div> -->
			<br>
			<h5>Descargas</h5>
			  <div class="border-top my-2"></div>

				<a href="{{product.prod_catalogo}}">
					<button type="button" class="btn btn-outline-primary">
						<i class="fas fa-cloud-download-alt"></i> Catalogo
					</button>
			 	</a>
			  <a href="{{product.prod_pre}}">
				<button type="button" class="btn btn-outline-success">
					<i class="fas fa-dollar-sign"></i> Precios
				</button>
			  </a>

			</div>
		  </div>
	</div>
	

	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
<script>
	$(document).ready(function(){
	  $('[data-toggle="popover"]').popover();
	});

	
	</script>

	
</html>

{% endblock%}