{% extends 'base.html' %} {% block content%}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <img
            class="img-fluid"
            src="{{single_product.images.url}}"
            style="width: 100%"
          />
          <!-- <article class="gallery-wrap"> -->
          <!-- <div class="img-big-wrap"> -->

          <!-- </div>  -->

          <!-- </article>  -->
        </aside>
        <main class="col-md-6 border-left">
          <form
            class=""
            action="{% url 'add_cart' single_product.id %}"
            method="POST"
          >
            {% csrf_token %}

            <article class="content-body">
              <h2 class="title">{{single_product.product_name}}</h2>

              <div class="rating-star">
                <span>
                  <i
                    class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.average_review < 1 %}-half-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.average_review < 2 %}-half-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.average_review < 3 %}-half-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.average_review < 4 %}-half-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.average_review < 5 %}-half-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>

              <span>{{ single_product.countReview}} Comentarios</span>

              <br />

              <div class="mb-3">
                <span class="badge bg-light">
                  <h6>{{single_product.category}}</h6>
                </span>
                <span class="badge {{single_product.col}}">
                  <h6>{{single_product.tagone}}</h6>
                </span>
              </div>

              <p>{{single_product.description}}</p>

              <hr />
              <!-- <div class="row">
                                <div class="item-option-select">
                                    <h6>Selecciona Diametro</h6>
                                    <select name="diametro" id="" class="form-control" required>
                                        <option value="" disabled selected>Seleccione</option>
                                        {% for i in single_product.variation_set.diametros %}
                                        <option value="{{i.variation_value | lower}}">{{ i.variation_value | capfirst}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Selecciona RD</h6>
                                    <select name="rd" id="" class="form-control" required>
                                        <option value="" disabled selected>Seleccione</option>
                                        {% for i in single_product.variation_set.rds %}
                                        <option value="{{i.variation_value | lower}}">{{ i.variation_value | capfirst}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> -->
            </article>
            <!-- product-info-aside .// -->
          </form>
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
      <hr />
      <ul class="fa-ul">
        <li>
          <span class="fa-li">
            <i class="fa-2x fas fa-cloud-download-alt"></i>
          </span>
          <h4 class="ml-3">Descargas</h4>
        </li>
      </ul>
      <hr />
      <ul class="fa-ul">
        <li>
          <a href="{{single_product.prod_catalogo}}">
            <button type="button" class="btn btn-primary">
              <i class="fas fa-atlas"></i> Catalogo
            </button>
          </a>
        </li>
      </ul>

      <ul class="fa-ul">
        <li>
          <a href="{{single_product.prod_pre}}">
            <button type="button" class="btn btn-secondary">
              <i class="fas fa-dollar-sign"></i> Lista de Precios
            </button>
          </a>
        </li>
      </ul>
      {% if user.id is None %}

      <ul class="fa-ul">
        <li>
          <button
            disabled
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fas fa-pencil-ruler"></i>Fichas Tecnicas
          </button>
        </li>
      </ul>
      {% else %}
      <ul class="fa-ul">
        <li>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fas fa-pencil-ruler"></i>Fichas Tecnicas
          </button>
        </li>
      </ul>

      {% if single_product.prod_fich != 'https://valtic.com.mx'%} {% include
      single_product.prod_fich %} {% endif %} {% endif %}

      <!-- comentario multilinea
           boton de compra de producto 
        
{% if single_product.stock <= 0 %}
            <h5> Producto fuera de stock</h5>
            {% else %}

            <ul class="fa-ul">
                <li>
                    <button type="submit" class="btn  btn-primary"> <span class="text">Agregar al shopping
                            cart</span> <i class="fas fa-shopping-cart"></i> </button>
                </li>
            </ul>


            {% endif %}



            -->

      <!-- <a href="{% url 'add_cart' single_product.id %}" class="btn  btn-primary"> <span class="text">Agregar al shopping
                    cart</span> <i class="fas fa-shopping-cart"></i> </a>
            
            <a href="{{single_product.e1}}">
                <button type="button" class="btn btn-primary"><i class="fas fa-atlas"></i> Catalogo</button>
            </a>
            <a href="{{single_product.e2}}">
                <button type="button" class="btn btn-secondary"><i class="fas fa-dollar-sign"></i> Lista de Precios</button>
            </a>
            {% if single_product.e3 == 'https://valtic.com.mx' %}
            <button type="button" class="btn btn-info" disabled><i class="fas fa-pencil-ruler"></i> Fichas Tecnicas</button>
            {% else %}
            <button type="button" class="btn btn-info"><i class="fas fa-pencil-ruler"></i> Fichas Tecnicas</button>
            {% endif%} -->
    </div>
    <!-- card.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br />

    <div class="row">
      <div class="col-md-9">
        <form
          action="{% url 'submit_review' single_product.id %}"
          method="post"
        >
          {% csrf_token %}
          <h5>Escribe tu comentario</h5>

          {% comment %} <div>
            <label for="">Como calificarias este producto ?</label>
            <br />
            <div class="rate">
              <input type="radio" name="rating" value="5" id="rating10" /><label
                for="rating10"
                title="5"
              ></label>
              <input
                type="radio"
                name="rating"
                value="4.5"
                id="rating9"
              /><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" value="4" id="rating8" /><label
                for="rating8"
                title="4"
              ></label>
              <input
                type="radio"
                name="rating"
                value="3.5"
                id="rating7"
              /><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" value="3" id="rating6" /><label
                for="rating6"
                title="3"
              ></label>
              <input
                type="radio"
                name="rating"
                value="2.5"
                id="rating5"
              /><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" value="2" id="rating4" /><label
                for="rating4"
                title="2"
              ></label>
              <input
                type="radio"
                name="rating"
                value="1.5"
                id="rating3"
              /><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" value="1" id="rating2" /><label
                for="rating2"
                title="1"
              ></label>
              <input
                type="radio"
                name="rating"
                value="0.5"
                id="rating1"
              /><label for="rating1" title="0.5" class="half"></label>
            </div> {% endcomment %}
            <br />

            Titulo de comentario:
            <input type="text" class="form-control" name="subject" value="" />
            <br />
            Comentario
            <textarea
              class="form-control"
              name="review"
              id="30"
              rows="4"
            ></textarea>
            <br />
            {% if user.is_authenticated %} {% if orderproduct %}
            <input
              type="submit"
              value="Enviar Comentario"
              class="btn btn-primary"
            />
            {% else %}
            <div class="alert alert-info" role="alert">
              <p>
                Para ingresar un comentario debe primero haber comprado el
                producto
              </p>
            </div>
            {% endif %} {% else %}
            <div class="alert alert-info" role="alert">
              <p>
                Para enviar un comentario debes estar registrado
                <span> <a href="{% url 'login' %}">Inicia sesion</a> </span>
              </p>
            </div>
            {% endif %}
          </div>

          {% include 'includes/alerts.html' %}
        </form>
        <br />

        <header class="section-heading">
          <h3>Calificacion de clientes</h3>

          <div class="rating-star">
            <span>
              <i
                class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.average_review < 1 %}-half-o {% endif %}"
                aria-hidden="true"
              ></i>
              <i
                class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.average_review < 2 %}-half-o {% endif %}"
                aria-hidden="true"
              ></i>
              <i
                class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.average_review < 3 %}-half-o {% endif %}"
                aria-hidden="true"
              ></i>
              <i
                class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.average_review < 4 %}-half-o {% endif %}"
                aria-hidden="true"
              ></i>
              <i
                class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.average_review < 5 %}-half-o {% endif %}"
                aria-hidden="true"
              ></i>
            </span>
          </div>
        </header>

        {% for review in reviews %}

        <article class="box mb-3">
          <div class="icontext w-100">
            <div class="text">
              <span class="date text-muted float-md-right"
                >{{ review.updated_at }}
              </span>
              <h6 class="mb-1">{{review.user.full_name}}</h6>
              <div class="rating-star">
                <span>
                  <i
                    class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                  <i
                    class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <h6>{{ review.subject}}</h6>
            <p>{{review.review}}</p>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}
